.mobile-menu {
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999 !important;
    opacity: 0;
    box-shadow: 0px 29px 80px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    transform: translateX(-100vw);
}

.mobile-menu-container {
    width: 60vw;
    height: 100vh;
    background-color: #120b2f;
    padding: 2rem;
    
}

.tech-icon2 img {
    width: 2rem;
    height: 2rem;
    transition: all 0.3s ease;
    border-radius: 0.65rem;
    border-style: solid;
  }

  .tech-icon2 .image-container {
    display: inline-block;
    transition: background-color 0.3s ease;
    border-radius: 0.65rem;
  }
  .tech-icon2 .image-container:hover {
    background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
   
  }
  
 
  

.mobile-menu.active {
    display: block;
    opacity: 1;
    transform: translateX(0);
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    margin-left: -2rem;
}

@media (max-width: 769px) {
    .mobile-menu {
        display: flex;
    }
}

@media (max-width: 428px) {
    .mobile-menu {
        display: flex;
        justify-content: center;
    }
}

